
		<footer id="footer" class="dark">
			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row">
						<div class="col-lg-9">
							<div class="widget clearfix">

								

								<div class="line" style="margin: 30px 0;"></div>

								<div class="row col-mb-30">
									<div class="col-lg-4 col-6 widget_links">
										<ul>
											<li><a href="index.html">Anasayfa</a></li>
											<li><a href="hakkimizda.html">Hakkımızda</a></li>
											<li><a href="#">SSS</a></li>
											<li><a href="iletisim.html">İletişim</a></li>
										</ul>
									</div>

									<div class="col-lg-4 col-6 widget_links">
										<ul>
											<li><a href="hakkimizda.html">Hakkımızda</a></li>
											<li><a href="#">Hizmet Verilen Sektörler</a></li>
										
										</ul>
									</div>

									<div class="col-lg-4 col-6 widget_links">
										<ul>
											<li><a href="hidrolik.html">Hidrolik</a></li>
											<li><a href="pnömatik.html">Pnömatik</a></li>
											<li><a href="hortum.html">Hortum</a></li>
										</ul>
									</div>

									
								</div>

							</div>
						</div>

						<div class="col-lg-3 mt-5 mt-lg-0">
							<div class="widget clearfix">

								<div class="row col-mb-30">
									<div class="col-12">
										<div class="footer-big-contacts">
											<span>Bizi Arayın:</span>
											0 554 702 44 38
										</div>
									</div>

									<div class="col-12">
										<div class="footer-big-contacts">
											<span>Email:</span>
											info@defnehidrolik.com
										</div>
									</div>
								</div>

							</div>

							<div class="widget subscribe-widget clearfix">

								

							</div>
						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container">

					<div class="row justify-content-between col-mb-30">
						<div class="col-12 col-md-auto text-center text-md-start">
							Copyrights &copy; 2023 Tüme Hakları Saklıdır Defne Hidrolik<br>
							
						</div>

						<div class="col-12 col-md-auto text-center text-md-end">
							<div class="copyrights-menu copyright-links clearfix">
								<a href="#">Anasayfa</a>/<a href="#">Hakkımızda</a>/<a href="#">Hizmet Verilen Sektörler</a>/<a href="#">Vizyon - Misyon</a>/<a href="#">İletişim</a>
							</div>
						</div>
					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->