<ul class="header-extras">
    <li>
        <i class="i-plain icon-call m-0"></i>
        <div class="he-text">
            Bizi Arayın
            <span>0 554 702 44 38 </span>
        </div>
    </li>
    <li>
        <i class="i-plain icon-line2-envelope m-0"></i>
        <div class="he-text">
            Email 
            <span>info@defnehidrolik.com</span>
        </div>
    </li>
    <li>
        <i class="i-plain icon-line-clock m-0"></i>
        <div class="he-text">
            Çalışma Saatleri
            <span>Pzt - Cmt, 09:00 to 18:00</span>
        </div>
    </li>
</ul>