<ul class="menu-container">
    <li class="menu-item current"><a class="menu-link" href="index.html"><div>Anasayfa</div></a></li>
    <li class="menu-item"><a class="menu-link" href="#"><div>Kurumsal</div></a>
        <ul class="sub-menu-container">
            <li class="menu-item"><a class="menu-link" href="hakkimizda.html"><div>Hakkımızda</div></a></li>
            <li class="menu-item"><a class="menu-link" href="sektorler.html"><div>Hizmet Verilen Sektörler</div></a></li>
            <!--<li class="menu-item"><a class="menu-link" href="kalite-politikamiz.html"><div>Kalite Politikamız</div></a></li> -->
            <!--<li class="menu-item"><a class="menu-link" href=""><div>Vizyon - Misyon</div></a></li>-->
        </ul>
    </li>
    <li class="menu-item"><a class="menu-link" href="#"><div>Hizmetlerimiz</div></a>
        <ul class="sub-menu-container">
            <li class="menu-item"><a class="menu-link" href="hidrolik.html"><div>Hidrolik</div></a></li>
            <li class="menu-item"><a class="menu-link" href="pnomatik.html"><div>Pnömatik</div></a></li>
            <li class="menu-item"><a class="menu-link" href="hortum.html"><div>Hortum</div></a></li>
        </ul>
    </li>
    <li class="menu-item"><a class="menu-link" href="iletisim.html"><div>İletişim</div></a></li>
</ul>